---
layout: home
title: Poenta Valei
---


{%- for post in paginator.posts -%}
<article class="f4 mb4 center measure lh-copy">
  <table class="mw8 table_home" cellspacing="0" cellpadding="0">
    <tbody class="center">
      <tr>
        <td class="pr3 "><small><time class="courier">{{ post.date | date: "%Y%m%d" }}</time></small></td>
        <td class="pr3 "><a class="ttu lh-copy" href="{{ post.url }}">{{ post.title | escape }}</a></td>
      <tr>
        <td class="pr3 "></td>
        <td class="pr3 ">{{ post.content | truncatewords: 15 }} <a href="{{ post.url }}">Va' vanti</a>...</td>
      </tr>
    </tbody>
  </table>
  <!-- <div class="f5 f3-l">{{ post.content }}<div> -->
</article>
{%- endfor -%}

<!-- Pagination links -->
<time class="f4 mb4 center measure lh-copy">
  {% if paginator.previous_page %}
  <a class="f4 mb4 center measure lh-copy" href="{{ paginator.previous_page_path }}"><</a>
  {% endif %}
  <p class="f4 mb4 center measure lh-copy">Page: {{ paginator.page }} of {{ paginator.total_pages }}</p>
  {% if paginator.next_page %}
  <a class="" href="{{ paginator.next_page_path }}">></a>
  {% endif %}
</time>
