a {
  color: #ffdfdf;
  text-decoration: none;
  background-color: #333;
  padding: .20rem .25rem .15rem .25rem;
}

a:hover {
  background-color: #ffdfdf;
  color: #111;
}

small {
  font-size: .75rem;
}
