---
layout: page
permalink: liston
title: Liston
image: /assets/img/photo/Paolo_Monti_-Arquà_Petrarca.jpg
---

Ea foto xé ciapada da <a href="https://commons.wikimedia.org/wiki/File:Paolo_Monti_-_Servizio_fotografico_(Arqu%C3%A0_Petrarca,_1965)_-_BEIC_6328926.jpg">qua</a>

<ul class="list pl0">
  {% for tag in site.tags %}
  <li class="dib mb2"><a href="#{{ tag[0] | slugify }}" class="ttu f6 f5-ns db pa2 link dim dark-gray ba b--black-20">#{{ tag[0] }}</a></li>
  {% endfor %}
</ul>


{% for tag in site.tags  %}
<div class="pb3">
  <p class="f3 b ttu" id="{{ tag[0] }}">#{{ tag[0] }}</p>
    {% for post in tag[1] %}
    <ul class="list pl0">
      <li>
        <a class="" href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
        </a>
      </li>
    </ul>
    {% endfor %}
</div>
{% endfor %}
