---
layout: page
permalink: liston
title: Liston
---

<div class="">
  <div class="">
    {% for tag in site.tags %}
    <a href="#{{ tag[0] | slugify }}" class="">{{ tag[0] }}</a>
    {% endfor %}
  </div>
  <div class="">
    {% for tag in site.tags  %}
    <h2 class="ttu" id="{{ tag[0] }}">#{{ tag[0] }}</h2>
      {% for post in tag[1] %}
          <a class="" href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          </a>

      {% endfor %}
    {% endfor %}
  </div>
</div>
