---
layout: default
---

{%- include header-page.html -%}
<article class="pb3">

  <time class="f5">
    <p class="i">Data: {{ page.date | date: "%d %m %Y" }}</p>

    {% if page.tags %}
    {% for tag in page.tags %}
    <ul class="list pl0">
      <li class="dib mb2"><a href="{{ site.url }}/liston#{{ tag | slugify }}" class="ttu f6 f5-ns db pa2 link dim dark-gray ba b--black-20">#{{ tag }}</a></li>
    </ul>
    {% endfor %}
    {% endif %}

    {% if page.previous.url %}
    <a class="" href="{{page.previous.url}}">lèzi queo prima</a>
    {% endif %}


    {% if page.next.url %}
     opùr
    <a class="" href="{{page.next.url}}">lèzi queo dopo</a>
    {% endif %}
  </time>

      <div class="measure lh-copy">
        <img src="{{ page.image }}" alt="foto del post" class="w-100 pt3">
        {{ content }}
      </div>
</article>



    </div>
